html {
    font-family: 'Markazi Text', serif;
}
body {
    background-color: white;
}
#holder {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    display: block;
	height: 46px;
	width: inherit;
	top: 0;
	background-color: white;
	z-index: 1000;
	position: fixed;
}
#header ul{
    list-style: none;
}
#header ul > li:first-child {
	float: left;
}
#header ul > li:not(:first-child) {
	float:right;
}
#print {
    display:block;
    background-color: 6a9c78;
    color: white;
    padding: 2px 16px;
    border-radius: 8px;

}
#print:hover {
    cursor: pointer;
}
#main {
    overflow: hidden;
    width: 100%;
	margin-top: 30px;
}
.content {
    width: 800px;
    float: right;
}
#banner {
    display: inline;
}
.sheet {
	width: 100%;
    background-color: f9f8ed;
	padding-bottom: 2px;
    margin: 3 0 0 0;
    border-radius: 4px;
}
.sheet h1 a:first-child, .sheet h3 a:first-child, #presentation{
    margin-top: 0;
    padding-top: 50px;
}
h1, h2, h3, h4 {
    color: 6a9c78;
}
h3 {
    padding-left: 10px;
}
hr {
    border-color: c4e3cb;
}
#contact ul {
    list-style: none;
    padding-left: 0;
}
#contact li {
    border-bottom-style: dotted;
    border-bottom-color: c4e3cb;
    border-bottom-width: 1px;
}
#linkedin-icon {
    vertical-align: top;
}
skype::before {
    content: url(img/skype.png);
	vertical-align: sub;
}
.table{
    display: table;
    margin: 0 auto;
}
.cell{
    display: inline-block;
    width: 32%;
    position: relative;
}
.cell img:hover {
    cursor: pointer;
}
.portfolio_list {
	list-style: none;
	padding-left: 0;
}
.portfolio_item {
	display: inline;
}
.img {
    height: 266px;
    width: 264px;
}
.sources {
    list-style: none;
}
.sources li::before{
    content: "\00BB \0020";
}
.sources a:visited, #header a:visited {
	color: red;
}
.menu {
    overflow: hidden;
    width: 220px;
    position: fixed;
}
.menu ul {
    list-style: none;
    display: table;
}
.menu li:not(:first-child) {
    display: table-row;
    margin: 0 0 3px 0;
}
.menu li:not(:first-child) a{
    background-color: fff1bc;
    padding: 0 10px 0 20px;
    display: block;
    line-height: 2.333em;
    margin-bottom: 5px;
    border-radius: 7px;
}
.menu a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1020px) {
	#header ul{
		padding-left: 0;
		padding-right: 16px;
	}
    #holder, .content{
        width: 100%;
    }
    #banner {
        display: none;
    }
	.cell {
		width: auto;
	}
    .menu{
        display:none;
    }
}